@font-face {
    font-family: "CloisterBlack";
    src: url(https://ijtaba.me.uk/rob_me/CloisterBlack.ttf) format("truetype");
}

h1{
    font-family: "CloisterBlack";
    color: white;
    text-shadow: 1px 1px black;
    width: 100%;
    background-color: green;
    opacity: 0.75;
    margin: 0 0 0 0;
}

h1.balance {
    position: fixed;
    top: 0%;
    font-size: 3em;
    z-index: 1000;
}

h1.footer {
    position: fixed;
    bottom: 0%;
    z-index: 1000;
}

a {
    color: white;    
}

a:hover {
    color: black;    
}

a:visited{
    color: white;    
}

img {
    display: inline-block; 
}
body {
    width: 100%;
    text-align: center;
    background-color:green;
    overflow-x: hidden;
}
