@font-face {
    font-family: "CloisterBlack";
    src: url(https://ijtaba.me.uk/rob_me/CloisterBlack.ttf) format("truetype");
}

h1 {
    font-family: "CloisterBlack";
    color: white;
    text-shadow: 1px 1px black;
    position: fixed;
    top: 0%;
    font-size: 3em;
    width: 100%;
    background-color: green;
    opacity: 0.75;
    margin: 0 0 0 0;
}

img {
    display: inline-block; 
}
body {
    width: 100%;
    text-align: center;
}
