@font-face {
    font-family: "CloisterBlack";
    src: url(https://ijtaba.me.uk/rob_me/CloisterBlack.ttf) format("truetype");
}

h1 {
    font-family: "CloisterBlack";

}

img {
    display: inline-block; 
}
body {
    width: 100%;
    text-align: center;
}
